<script setup lang="ts">
import { LoaderProps } from "src/interfaces/components/loaderComponent";
// eslint-disable-next-line no-undef
const { isShow } = defineProps<LoaderProps>();
</script>

<script lang="ts">
export default {
    inheritAttrs: false,
};
</script>

<template>
    <div class="loading-page" v-if="isShow">
        <div class="">
            <div class="loader"/>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "../scss/palette.scss";

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background;
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader,
.loader::after {
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid $white;
    border-right: 4px solid $white;
    border-bottom: 4px solid $white;
    border-left: 4px solid $sky-blue;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
</style>
