<script setup lang="ts">
/* eslint-disable no-undef */
import { ModalEmits, ModalProps } from "src/interfaces/components/modalComponent";

const emits = defineEmits<ModalEmits>();
const { title, description, primaryColor, textColor, showIcon } = defineProps<ModalProps>();
const closeModal = () => emits("closeModal", false);
</script>

<script lang="ts">
export default {
    inheritAttrs: false,
};
</script>

<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal animate__animated animate__bounceIn" role="dialog">
                <header class="modal-header" id="modalTitle" v-show="showIcon">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1145_10400)">
                            <path
                                d="M20.9951 41.0051V38.7451C11.2151 38.7451 3.25512 30.7851 3.25512 21.0051C3.25512 11.2251 11.2151 3.26512 20.9951 3.26512V0.995117C9.96512 0.995117 0.995117 9.96512 0.995117 20.9951C0.995117 32.0351 9.96512 41.0051 20.9951 41.0051Z"
                                fill="#00A19B"
                            />
                            <path
                                d="M41.0051 20.9951C41.0051 15.6551 38.9251 10.6251 35.1451 6.84512C31.3651 3.07512 26.3451 0.995117 20.9951 0.995117V3.25512C25.7351 3.25512 30.1851 5.10512 33.5351 8.45512C36.8851 11.8051 38.7351 16.2651 38.7351 20.9951H41.0051Z"
                                fill="#19BCEE"
                            />
                            <path d="M35.1351 35.1351C38.7551 31.5151 41.0051 26.5151 41.0051 20.9951H38.7451C38.7451 30.7751 30.7851 38.7351 21.0051 38.7351V40.9951C26.5151 41.0051 31.5151 38.7551 35.1351 35.1351Z" fill="#F27F26" />
                            <path d="M12.9076 11.2999L11.3096 12.8979L19.3988 20.9872L20.9968 19.3891L12.9076 11.2999Z" fill="#00A19B" />
                            <path d="M22.5951 20.9957L20.9971 22.5938L29.1004 30.6971L30.6985 29.0991L22.5951 20.9957Z" fill="#00A19B" />
                            <path d="M29.0901 11.2966L20.1948 20.1919L21.7929 21.7899L30.6882 12.8946L29.0901 11.2966Z" fill="#00A19B" />
                            <path d="M20.1919 20.1967L11.2896 29.0991L12.8876 30.6972L21.79 21.7948L20.1919 20.1967Z" fill="#00A19B" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1145_10400">
                                <rect width="40.01" height="40.01" fill="white" transform="translate(0.995117 0.995117)" />
                            </clipPath>
                        </defs>
                    </svg>
                </header>
                <section class="modal-body" id="modalDescription">
                    <h3 class="title">{{ title }}</h3>
                    <p class="text">{{ description }}</p>
                </section>
                <footer class="modal-footer">
                    <button class="btn-container" type="button" :style="{ 'background-color': primaryColor, color: textColor }" @click="closeModal" aria-label="Close modal">Aceptar</button>
                </footer>
            </div>
        </div>
    </transition>
</template>

<style lang="scss" scoped>
@import "../scss/variables.scss";
@import "../scss/palette.scss";

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        background: $white;
        padding: 20px 38px 20px 38px;
        @media screen and (max-width: $screen-sm-min) {
            padding: 20px 20px 20px 20px;
        }
        margin-left: 28px;
        max-width: 297px;
        margin-right: 28px;
        border-radius: 4px;
        .modal-header {
            display: flex;
            justify-content: center;
            margin-top: 3px;
            margin-bottom: 25px;
        }
        .modal-body {
            margin-bottom: 32px;
            .text {
                font-size: 14.22px;
                color: $gray;
                margin: 0px;
                text-align: center;
            }
            .title {
                font-size: 18px;
                color: $black;
                margin: 9px 0px;
                font-weight: 600;
                text-align: center;
                line-height: 28px;
            }
        }
        .modal-footer {
            flex-direction: column;
            display: flex;
            .btn-container {
                padding: 10px;
                color: $white;
                border: 0px solid;
                font-size: 14.22px;
                font-weight: bold;
                border-radius: 4px;
                line-height: 20px;
            }
        }
    }
}
.modal-fade-enter,
.modal-fade-leave-to {
    opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.5s ease;
}
</style>
