<script setup lang="ts">
import { ref } from "vue";
import { ModalReference, ModalProps } from "src/interfaces/components/modalComponent";
import ModalError from "src/components/ModalError.vue";
import Loader from "src/components/Loader.vue";
import { Colors } from "src/utils/constants";
import Culqi3DS from "src/library/Culqi3DS";

const modalReference = ref<ModalReference>({
    titleModalError: "",
    descriptionModalError: "",
    visibleModalError: false,
    visibleModalChallenge: false,
    closeModalAction: () => {},
});

const loadingReference = ref<boolean>(false);

const modalStyle = ref<Pick<ModalProps, "primaryColor" | "textColor" | "showIcon">>({
    primaryColor: Colors.PRIMARY,
    textColor: Colors.WHITE,
    showIcon: true,
});

const closeModalError = (visibleModalError: boolean) => {
    modalReference.value = { ...modalReference.value, visibleModalError };
    modalReference.value.closeModalAction(); 
}

window.Culqi3DS = new Culqi3DS(modalReference, modalStyle, loadingReference); // INITIALIZE CULQI 3DS

</script>

<template>
    <iframe id="cardinal_collection_iframe" name="collectionIframe" height="1" width="1" style="display: none"></iframe>
    <form id="cardinal_collection_form" method="POST" target="collectionIframe">
        <input id="cardinal_collection_form_input" type="hidden" name="JWT" />
    </form>
    <transition name="fade" appear>
        <div class="modal-challenge-overlay" v-if="modalReference.visibleModalChallenge"></div>
    </transition>
    <transition name="slide" appear>
        <div class="modal-challenge" v-show="modalReference.visibleModalChallenge">
            <iframe id="challenge_iframe" name="step-up-iframe" height="400" width="400" frameBorder="0"></iframe>
            <form id="step-up-form" target="step-up-iframe" method="post">
                <input id="cybersource_challenge" type="hidden" name="JWT" />
                <input id="cybersource_merchant_data" type="hidden" name="MD" />
            </form>
        </div>
    </transition>
    <ModalError
        v-show="modalReference.visibleModalError"
        @closeModal="closeModalError"
        :primaryColor="modalStyle.primaryColor"
        :textColor="modalStyle.textColor"
        :title="modalReference.titleModalError"
        :showIcon="modalStyle.showIcon"
        :description="modalReference.descriptionModalError"
    />
    <Loader :isShow="loadingReference" />
</template>

<style lang="scss">
@import "./scss/palette.scss";

#culqi-3ds {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.modal-challenge-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: $background;
}

.modal-challenge {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
    max-width: 400px;
    background-color: $white;
    border-radius: 16px;
    padding: 25px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
